//
//  Production.xcconfig
//  AddaMeIOS
//
//  Created by Saroar Khandoker on 11.11.2020.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ROOT_URL = https:/$()/domain/v1
WEB_SOCKET_URL = ws:/$()/domain:6060/v1/chat

// Image Uploading to DigitalOcen
ACCESS_KEY_ID = value
SECRET_ACCESS_KEY = value
