<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADDAME_IOS_APP_NAME</key>
	<string>${ADDAME_IOS_APP_NAME}</string>
	<key>ADDAME_IOS_ENVIRONMENT</key>
	<string>${ADDAME_IOS_ENVIRONMENT}</string>
	<key>ACCESS_KEY_ID</key>
	<string>$(ACCESS_KEY_ID)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Adda2</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>Adda2 uses your contacts to find users you konw. We do not store your contacts on the server.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We dont share your location with anyone, with share your locatuon you can create and see other user events/hangouts nearby you and other user can see your.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We dont share your location with anyone, with share your locatuon you can create and see other user events/hangouts nearby you and other user can see your.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Without track your data we cant show current user event which is main feature of our App and we dont send any 3rd party your data.</string>
	<key>ROOT_URL</key>
	<string>$(ROOT_URL)</string>
	<key>SECRET_ACCESS_KEY</key>
	<string>$(SECRET_ACCESS_KEY)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>WEB_SOCKET_URL</key>
	<string>$(WEB_SOCKET_URL)</string>
</dict>
</plist>
