<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WEB_SOCKET_URL</key>
	<string>$(WEB_SOCKET_URL)</string>
	<key>ROOT_URL</key>
	<string>$(ROOT_URL)</string>
	<key>SECRET_ACCESS_KEY</key>
	<string>$(SECRET_ACCESS_KEY)</string>
	<key>ACCESS_KEY_ID</key>
	<string>$(ACCESS_KEY_ID)</string>
</dict>
</plist>
